.link {
  padding: 15px;
}

.div {
  display: flex;
  gap: 30px;
  padding: 15px;
}

.info {
  padding-left: 15px;

  .title {
    border-top: 1px silver solid;
    margin: 0;
    padding: 5px 0;
  }
  .button {
    padding: 5px 0;
    border-bottom: 1px silver solid;
  }
}
